.nav-bar{
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row;
    padding-inline: 10px;
    font-size: 1.3rem;
    z-index: 30;
}

.nav-bar *{
    user-select: none;
}

.nav-bar a,
.nav-bar p{
    padding: 0px 10px;
    transition: all .25s ease;
    opacity: .9;
}

.nav-bar a:hover,
.nav-bar p:hover,
.nav-bar button:hover,
.nav-bar a:focus,
.nav-bar p:focus,
.nav-bar button:focus{
    background: var(--main2-color);
    opacity: 1;
}

.brand-logo{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.brand-logo img{
    height: 100%;
    width: auto;
}
.brand-logo span{
    white-space: nowrap;
}


.nav-bar ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

.nav-bar li{
    height: 100%;
}

.nav-bar li *{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
}

img{
    width: auto;
}

.nav-bar .dropdown-menu{
    position: relative;
    background-color: var(--main-color);
    height: auto;
    padding: 10px 0px;
    display: none;
    transition: all 5s ease;
    padding-inline: 10px;
}

.nav-bar .dropdown-menu[data-toggled="true"]{
    display: flex;
    flex-flow: column;
}

.nav-bar li .dropdown-menu *{
    width: 100%;
    margin-bottom: 3px;

}
.nav-bar .dropdown-menu .dropdown-item{
    padding: 5px;
}

.divider,
.nav-bar .dropdown-menu .dropdown-divider{
    height: 2px;
    width: 100%;
    background-color: var(--light);
}

.inline-icon{
    margin-left: 10px;
    margin-bottom: 0 !important;
    height: 1em !important;
    width: auto !important;
    filter: invert(.9);
}


.nav-bar .nav-bar-items{
    background-color: var(--main-color);
    position: absolute;
    flex-flow: column;
    height: auto;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    padding: 10px 0;
    transition: visibility 0s ease, opacity .25s ease, top .25s ease;
}
.nav-bar .nav-bar-items[data-extended="true"]{
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.nav-bar .nav-bar-items li{
    margin-bottom: 5px;
}

.nav-bar button{
    position: absolute;
    padding: 3px;
    height: 100%;
    right: 10px;
    background: none;
    border: none;
    border-radius: 5px;
}

.nav-bar button img{
    filter: invert(.9);
}

@media (min-width: 1024px){ /* Small screens, laptops */

    .nav-bar .nav-bar-items{
        display: flex;
        position: relative;
        flex-flow: row;
        top: 0 !important;
        padding: 0;
        opacity: 1;
        visibility: visible !important  ;
    }
    .nav-bar .dropdown-menu{
        position: absolute;
    }
    .nav-bar .dropdown-menu .dropdown-divider{
        width: 95%;
    }

    .nav-bar button{
        display: none;
    }

    .nav-bar li *{
        margin-left: 0;
        width: max-content;
        justify-content: space-between;
    }

    .inline-icon{
        margin-left: 5px;
    }
    
    .divider{
        display: none   ;
    }
}